//vars
$primary: #A65CF0;
$elements-bg: #F7F7F7;
$black: #333333;
$white: #FFF;

//style
.dropdown {
  position: relative;
  display: flex;
}

.dropdown__title {
  margin-right: 4px;
}

.dropdown__current-value {
  position: relative;
  display: flex;
  color: $primary;
  cursor: pointer;
  & p {
    margin-right: 5px;
  }
  & img {
    transition: transform .3s ease-in-out;
  }
}

ul.dropdown__list {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 9;
  padding: 16px;
  border: 2px solid $elements-bg;
  font-size: 14px;
  line-height: 1.3;
  color: $black;
  background-color: $white;
}

.dropdown__list {
  display: none;
}

.dropdown__list li:not(:last-child) {
  margin-bottom: 11px;
}

.dropdown__list li {
  cursor: pointer;
  transition: color .3s ease-in-out;
  &:hover {
    color: $primary;
  }
}

.selected {
  display: none;
}

.show {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}